@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Raleway:wght@300;700;900&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

button {
    cursor: pointer;
}


body {
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
    font-size: 15px;
}

header {
    background-color: #f9f8fb;
}

.header-bg {
    background: url('../img/img.png');
    max-width: 1536px;
    margin: 0 auto;
}



.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 12px;
}

.navigation {
    padding: 0 3px 0 25px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 234px;
    padding-top: 45px;
}

.logo {
    font-family: 'Pacifico', cursive;
    font-size: 40px;
}

.menu {
    list-style: none;
    display: flex;
    align-items: center;
    font-weight: bold;
    padding-bottom: 17px;
    font-size: 15px;
}

.menu-item {
    margin-left: 42px;
    padding-top: 5px;
}

.bordert {
    border-top: 3px solid #ff6033;
}

.header-content {
    max-width: 370px;
}

.header-title {
    font-weight: 900;
    font-size: 60px;
    margin-bottom: 12px;
}

.header-text {
    line-height: 28px;
    padding: 0 0 26px 5px;
    word-spacing: 5px;
}

.header-btn {
    border: none;
    color: #FFFF;
    background-color: #ff6033;
    width: 200px;
    height: 55px;
    box-shadow: 0px 3px 5px 0px #000000;
    margin-left: 4px;
    font-size: 20px;
    margin-bottom: 295px;
}

.scrol {
    text-align: center;
    padding-bottom: 65px;
}

.about {
    background-color: #00afaf;
}

.about-us-bg {
    background: url('../img/about_us-bg.jpg');
    max-width: 1536px;
    margin: 0 auto;
}

.content-about-us {
    max-width: 500px;
    padding-top: 160px;
    padding-bottom: 220px;
}

.align-right {
    display: flex;
    flex-direction: row-reverse
}

.section-title {
    font-size: 90px;
    margin-bottom: 6px;
}

.service-bg {
    background: url('../img/cahee_02.jpg');
    max-width: 1536px;
    margin: 0 auto;
}

.content-service {
    padding-top: 185px;
    padding: 180px 0 130px 103px;
    display: flex;
    justify-content: space-between
}

.section-text {
    font-size: 16px;
    line-height: 28px;
    word-spacing: 3px;
    padding-bottom: 6px;
}

.btn-service {
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    align-items: center;
    max-width: 400px;
    height: 100px;
    background: #FFFF;
    margin-bottom: 20px;
    box-shadow: 0px 3px 5px 0px #000000;
}

.border-img {
    border-left: 1px solid black;
    width: 100px;
    padding: 20px 0;
    height: 100%;
    text-align: center;
}

.text-btn {
    flex: 1;
    text-align: center;
}

.service {
    background-color: #70bfff;
}

.setvice-title {
    font-weight: 900;
    padding-top: 130px;
    font-size: 60px;
    color: #FFFF;
}

.gallery {
    background-color: #ffe92f;
    text-align: center;
    padding: 81px 0 120px;
}

.gallery-imgs {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    justify-content: space-between;
    margin-bottom: 30px;
}

.gallery-imgs>img {
    margin-bottom: 20px;
}

.gallery-imgs img {
    box-shadow: 0px 3px 5px 0px #000000;
}

.colum {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.gallery-title {
    font-weight: bold;
    font-size: 90px;
    margin-bottom: 20px;
}

.gallery-text {
    font-size: 17px;
    max-width: 580px;
    text-align: center;
    line-height: 28px;
}

.text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.btn-viw-more {
    font-weight: 500;
    max-width: 200px;
    margin: 0 auto;
    background-color: #5585a2;
    font-size: 22px;
    padding: 15px 0;
    box-shadow: 0px 3px 5px 0px #000000;
    cursor: pointer;
}

.sub-bg {
    background: url('../img/bg4.jpg');
    max-width: 1536px;
    margin: 0 auto;
}

.sub-content {
    padding-top: 135px;
    padding-bottom: 162px;
}

.sub-title {
    font-size: 40.5px;
    margin-bottom: 20px;
}

.sub-form {
    display: flex;
}

.sub-text {
    font-size: 17px;
    max-width: 550px;
    line-height: 25px;
    margin-bottom: 28px;
}

.i-sub input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    outline: none;
    padding: 0 20px;
    opacity: 0.5;
}

.i-sub input:focus~.i-sub-text,
.i-sub input:valid~.i-sub-text {
    color: transparent;
}

.i-sub {
    position: relative;
    width: 575px;
    margin-right: 25px;
    padding: 18px;
    font-size: 15px;
    color: #262626;
}

.sub-btn {
    font-size: 20px;
    padding: 15px;
    width: 170px;
    background: #96b92c;
    color: #FFFF;
    border: none;
    box-shadow: 0px 3px 5px 0px #000000;
}

.blog {
    background-color: #b07cf7;
    color: #FFFF;
    padding-bottom: 120px;
}

.blog-container-text {
    max-width: 557px;
    text-align: center;
    margin: 0 auto;
    padding-top: 82px;
}

.blog-title {
    font-weight: bold;
    font-size: 86px;
    margin-bottom: 27px;

}

.blog-text {
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 44px;
}

.blog-posts {
    display: flex;
    gap: 30px;
    margin-bottom: 50px;
}

.blog-post {
    width: 370px;
    height: 310px;
    padding: 30px 25px 0 23px;
    box-shadow: 0px 3px 5px 0px #000000;
}

.blog-data {
    width: 60px;
    height: 60px;
    background-color: #000000;
    opacity: 0.4;
    border-radius: 5px;
    margin-left: 10px;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    margin-bottom: 115px;
}

.blog-post-text {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 19px;
}

.fz {
    font-size: 28px;
}

.hours-ago {
    font-size: 13px;
}

.bg1 {
    background-image: url('../img/blog-bg1.jpg');
}

.bg2 {
    background-image: url('../img/blog-bg2.jpg');
}

.bg3 {
    background-image: url('../img/blog-bg3.jpg');
}

.blog-btn {
    font-weight: 500;
    max-width: 200px;
    margin: 0 auto;
    background-color: #f72b3b;
    font-size: 22px;
    padding: 15px 0;
    box-shadow: 0px 3px 5px 0px #000000;
    text-align: center;
    cursor: pointer;
}


.contact-bg {
    padding-top: 82px;
    padding-bottom: 105px;
    background-image: url('../img/contact-bg.jpg');
    max-width: 1500px;
    margin: 0 auto;
}

.container-contact-form {
    display: flex;

}

.contact-title {
    font-size: 86px;
    font-weight: 900;
    margin-bottom: 22px;
    text-align: center;
}

.contact-text {
    font-size: 17px;
    max-width: 350px;
    margin: 0 auto;
    line-height: 28px;
    margin-bottom: 40px;
    text-align: center;
}

.contact-form {
    width: 50%;
    margin-right: 85px;
}

.contact-input {
    max-width: 500px;
    position: relative;
    height: 50px;
    margin-bottom: 15px;
    padding: 15px 20px;


}

.contact-input input,
.contact-input textarea {
    position: absolute;
    background-color: #00c4c4;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-weight: bold;
    font-size: 16px;
    border: none;
    outline: none;
    padding: 0 20px;
    opacity: 0.5;
    color: #FFFF;
}

.contact-input textarea {
    padding-top: 15px;
    max-height: 250px;
    max-width: 500px;
}

.intput-text {
    position: absolute;
    opacity: 0.5;
}

.intput-text {
    color: #FFFF;
}

.contact-input textarea:focus~.intput-text,
.contact-input textarea:valid~.intput-text,
.contact-input input:valid~.intput-text,
.contact-input input:focus~.intput-text {
    color: transparent;
}

.contact-input textarea:focus,
.contact-input textarea:valid,
.contact-input input:valid,
.contact-input input:focus {
    opacity: 1;
    border-left: 2px solid black;
}

.messege {
    height: 250px;
}

.messege input {
    box-sizing: border-box;
    /* чтобы ширина input включала в себя границы и отступы */
    padding: 10px;
    font-size: 16px;
    line-height: 1.5;
    border-radius: 4px;
    word-wrap: break-word;
    /* включаем перенос текста */
    white-space: pre-wrap;
}

.comtact-my-title {
    font-size: 17px;
    font-weight: bold;
}

.contact-my-text {
    font-size: 20.3px;
    margin-bottom: 15px;
}

footer {
    background-color: black;
    color: #b9b9b9;
}

.footer-inems {
    padding: 33px 0;
    list-style: none;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
}

.footer-logo {
    font-family: 'Pacifico', cursive;
    font-size: 25px;
    margin: -10px 0 0 -60px;
}

.bgff2b58 {
    color: #ff2b58;
}
